/* Write your CSS here */
.item-bg-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.img-logo {
  width: 40px;
  margin-right: 20px;
}

.item-container {
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 12px;
  width: 30%;
}

.balance {
  background-color: #ecfccb;
  border: #84cc16 solid 1px;
}

.income {
  background-color: #cffafe;
  border: #06b6d4 solid 1px;
}

.expenses {
  background-color: #ede9fe;
  border: #7c3aed solid 1px;
}
